$highlight: #efefef;

.Inventory {
  position: absolute;
  top: 5rem;
  left: 60%;
  width: 32rem;
  // height: 44rem;
  padding: 1.2rem 1.8rem;
  color: #999;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(8px);

  hr {
    border-color: #9994;
  }

  .Navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.4rem;

    .control-key {
      padding: 0 0.4rem;
      background-color: #999;
      color: #3f3f3f;
      font-weight: 500;
      border-radius: 2px;

      &.active {
        background-color: $highlight;
      }
    }

    .divider {
      flex: 1;
      height: 1px;
      background-color: #9999;
    }

    .menu {
      display: flex;
      list-style: none;
      gap: 1.4rem;
      padding: 0;

      li {
        &.active {
          color: $highlight;
        }
      }
    }
  }

  .Text {
    height: 10rem;
    margin: 1rem 0;

    h2 {
      font-size: 1.4rem;
      color: $highlight;
      font-weight: 500;
    }

    .description {
      margin: 0.6rem 0;
      font-size: 1.35rem;
      color: #bbb;
      font-weight: normal;
    }

    .recipe {
      font-size: 1.35rem;

      span {
        color: $highlight;
        font-weight: 500;
      }
    }
  }

  .Material {
    padding: 1.5rem 0;

    .material-list {
      display: flex;
      justify-content: space-between;
      list-style: none;

      li {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.4rem;

        .item {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 3rem;
          width: 3rem;
          border-radius: 50%;
          border: 1px solid #999;
        }

        .count {
          font-size: 1.2rem;
        }
      }
    }
  }

  .Craft {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    margin: 1.5rem 0;

    div {
      height: 5.3rem;
      background-color: rgba(255, 255, 255, 0.05);
    }
  }

  .Action {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
    margin: 1.2rem 0 0.2rem;
    font-size: 1.2rem;

    .option {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      color: $highlight;

      .control-key {
        font-size: 0.8rem;
        padding: 0.2rem 0.2rem;
        background-color: $highlight;
        color: #3f3f3f;
        font-weight: 500;
        border-radius: 2px;
      }

      .long-control-key {
        position: relative;
        border-radius: 50%;
        width: 1.2rem;
        height: 1.2rem;
        line-height: 1.2rem;
        outline-offset: 3px;
        outline: 2px #9996 solid;
        font-size: 1rem;
        text-align: center;
        font-weight: 500;
        background-color: $highlight;
        color: #3f3f3f;

        // the animated ring when crafting current item is available
        &::after {
          content: '';
          position: absolute;
          inset: -5px;
          border-radius: 50%;
          background: conic-gradient(transparent 270deg, $highlight 360deg);
          -webkit-mask: radial-gradient(circle, #0000 63%, #fff9 63%);
          mask: radial-gradient(circle, #0000 63%, #fff9 63%);
          animation: rotate 3s linear infinite;
        }
      }
    }
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
