.Inventory {
  position: absolute;
  top: 5rem;
  left: 60%;
  width: 32rem;
  // height: 44rem;
  padding: 1.2rem 1.8rem;
  color: #999;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(8px);
}
